*
{
	margin:0;
	padding: 0;
}
header
{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(stamp-collection-hero.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.logo img
{
	width: 150px;
	height: auto;
    align-items: center;
}
body
{
	font-family: monospace;
}

.hero
{
	position: absolute;
	width: 900px;
	margin-left: 0px;
	margin-top: 0px;
}
h1
{
	color: #FFDC00;
	text-transform: uppercase;
	font-size: 50px;
	text-align: center;
	margin-top: 150px;
	margin-left: 400px;
}
.button
{
	margin-top: 30px;
	margin-left: 500px;
}
.btn
{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	text-transform: uppercase;
}
.btn-one:hover
{
	background-color: darkorange;
	font-family: "Roboto" sans-serif
}
.btn-two:hover
{
	font-family: sans-serif;
	background-color: darkorange;
}























